<launch>
  <node pkg="kinect_tomato_searcher" type="kinect_tomato_searcher_node" name="search_tomato_node">
    <remap from="rgb" to="kinect2/sd/image_color_rect" />
    <remap from="depth" to="kinect2/sd/image_depth_rect" />
  </node>
  <node pkg="kinect_tomato_searcher" type="tomato_broadcaster" name="tomato_broadcaster">
    <remap from="tomato_point" to="tomato_point/raw" />
    <rosparam>
    offset:
      x: 0
      y: 0
      z: 0
    </rosparam>
  </node>
</launch>
