<launch>

  <arg name="color_topic" default="kinect2/sd/image_color_rect" />
  <arg name="depth_topic" default="kinect2/sd/image_depth_rect" />

  <node name="kinect_tomato_searcher_node" pkg="kinect_tomato_searcher" type="kinect_tomato_searcher_node">
    <remap from="color" to="$(arg color_topic)" />
    <remap from="depth" to="$(arg depth_topic)" />
  </node>

</launch>
