<launch>

  <arg name="dammy_controller" default="false" />
  <arg name="dammy_sensor"     default="false" />

  <include file="$(find arcsys2_bringup)/launch/arcsys2_bringup_description.launch" />

  <include file="$(find arcsys2_bringup)/launch/arcsys2_bringup_controller.launch">
    <arg name="dammy" value="$(arg dammy_controller)" />
  </include>

  <include file="$(find arcsys2_bringup)/launch/arcsys2_bringup_sensor.launch">
    <arg name="dammy" value="$(arg dammy_sensor)" />
  </include>

  <include file="$(find arcsys2_bringup)/launch/arcsys2_bringup_moveit.launch" />

</launch>
