<launch>

  <include file="$(find arcsys2_moveit_config)/launch/move_group.launch">
    <arg name="info" value="true" />
  </include>

  <!-- 実験中に起動するには重いので以下のRVizはコメントアウトしておく -->
  <!-- <include file="$(find arcsys2_moveit_config)/launch/moveit_rviz.launch"> -->
  <!--   <arg name="config" value="true" />                                     -->
  <!--   <arg name="debug"  value="false" />                                    -->
  <!-- </include>                                                               -->

</launch>
