<launch>

  <include file="$(find arcsys2_moveit_config)/launch/move_group.launch">
    <arg name="info" value="true" />
  </include>

  <include file="$(find arcsys2_move_group_interface)/launch/move_group_interface.launch">
    <arg name="joint_tolerance" value="0.5" />
    <!-- <arg name="position_tolerance" value="0.5" />    -->
    <!-- <arg name="orientation_tolerance" value="0.5" /> -->
  </include>

</launch>
