<launch>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find arcsys2_description)/urdf/arcsys2.xacro'" />

  <node name="arcsys2_control_node" pkg="arcsys2_control" type="arcsys2_control_node" />

  <include file="$(find arcsys2_moveit_config)/launch/move_group.launch">
    <arg name="info" value="true" />
  </include>

  <include file="$(find arcsys2_control)/launch/joint_state_controller.launch" />
  <include file="$(find arcsys2_control)/launch/joint_trajectory_controller.launch" />

  <include file="$(find arcsys2_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true" />
    <arg name="debug"  value="false" />
  </include>

</launch>
