<launch>

  <arg name="dammy" default="false" />

  <include file="$(find arcsys2_bringup)/launch/arcsys2_bringup_description.launch" />

  <include file="$(find arcsys2_bringup)/launch/arcsys2_bringup_controller.launch">
    <arg name="dammy" value="$(arg dammy)" />
  </include>

  <include file="$(find arcsys2_bringup)/launch/arcsys2_bringup_sensor.launch" />

  <include file="$(find arcsys2_bringup)/launch/arcsys2_bringup_moveit.launch" />

</launch>
