<launch>

  <!-- <include file="$(find arcsys2_gazebo)/launch/arcsys2_gazebo.launch" /> -->

  <group ns="/arcsys2_controller">
    <include file="$(find arcsys2_control)/launch/joint_state_controller.launch" />
    <include file="$(find arcsys2_control)/launch/joint_trajectory_controller.launch" />
  </group>

</launch>
